<% content_for :title, "IDS Comite de Alumnos | Noticias" %>

<div class="news-header">
  <h3>Noticas</h3>
</div>
<div class="articles">
  <% @articles.each do |article| %>
    <div class="article">
      <h3><%= article.title %></h3>
      <div class="under-title">
        Redactado por: <%= article.author %>
        el <%= article.created_at.strftime('%v') %>
      </div>
      <div class="contenido">
        <div class="image">
          <%= image_tag article.image %>
        </div>
        <div class="texto">
          <%= raw (article.body.truncate(840)) %>
        </div>
      </div>
      <div class="more">
        <%= link_to "Leer más...", article_path(article) %>
      </div>
    </div>
  <% end %>
  <div class="center">
    <%= will_paginate @articles, :previous_label => 'Anterior', :next_label => 'Siguiente',  renderer: BootstrapPagination::Rails %>
  </div>
</div>
