<div class="article">
  <h3><%= @article.title %></h3>
  <div class="under-title">
    Redactado por: <%= @article.author %>
    el <%= @article.created_at.strftime('%v') %>
  </div>
  <div class="contenido">
    <div class="image">
      <%= image_tag @article.image %>
    </div>
    <div class="texto">
      <%= raw(@article.body) %>
    </div>
  </div>
  <div class="social">
    <div class="fb-like" data-href="http://www.idsutm.com/articles/#{@object.id}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
    </div>
  </div>
</div>
