<% content_for :title, "IDS Comite de Alumnos | #{@article.title}" %>
<div class="article">
  <h3><%= @article.title %></h3>
  <div class="under-title">
    Redactado por: <%= @article.author %>
    el <%= @article.created_at.strftime('%v') %>
  </div>
  <div class="contenido">
    <div class="image">
      <%= image_tag @article.image %>
    </div>
    <div class="texto">
      <%= raw(@article.body) %>
    </div>
  </div>
  <div class="social">
    <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
    </div>
  </div>
</div>

<div class="comments">
  <% if current_user %>
    <div class="new-comment">
      <%= render 'comments_form' %>
    </div>
  <% end %>

  <div class="all-comments">
    <% @comments.each do |comment| %>
      <div class="comment">
        <div class="user">
          <%= image_tag comment.user.profile_picture %>
          <b><%= comment.user.first_name + " " + comment.user.last_name %></b>
          <br>
          <%= comment.created_at.strftime("%d %b. %Y - %r") %>
        </div>
        <p><%= comment.text %></p>
        <% if comment.user == current_user || current_admin %>
          <%= link_to article_comentario_path(@article.id, comment.id), method: :delete,
            data: { confirm: 'Borrar?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
