<% content_for :title, "IDS Comite de Alumnos | Torneos" %>

<div class="tournament-header">
  <h3>Torneos</h3>
  <h3 class="twitch"> <%= link_to "Ver Twitch", watch_twitch_path %> </h3>
  <h3><%= link_to "Reglas", ".bs-example-modal-lg", "data-toggle" => "modal" %></h3>
</div>

<%= render 'rules' %>
<div class="inscripciones">
  <h3>
  <%= link_to "Inscripciones III Torneo League of Legends", "https://docs.google.com/forms/d/1TGK1Z34WIQ_kcbbsV8wgoqKFr-zDj-kgTn926q4x7Yg/viewform" %>
  </h3>
</div>
<div class="tournaments">
  <% @tournaments.each do |tournament| %>
    <div class="tournament">
      <%= image_tag tournament.image %>
      <h3><%= tournament.name %></h3>
      <p> <b>Equipo ganador:</b> <%= tournament.winner %></p>
      <p> <%= tournament.status %> </p>
    </div>
  <% end %>
</div>
