<% content_for :title, "IDS Comite de Alumnos | Tutoriales" %>

<div class="tutorials-header">
  <h3>Tutoriales</h3>
</div>
<div class="tutorials">

  <% @tutorials.each do |tutorial| %>
    <div class="tutorial">
      <div class="main">
        <h3><%= tutorial.name %></h3>
        <p><%= raw(tutorial.description) %></p>
        <div class="language">
          <b> Idoma: </b><%= tutorial.language %> <br>
           <b> Enclace: </b><%= link_to tutorial.url, tutorial.url %>
        </div>
      </div>
      <div class="more">
        <div class="votes">
          <%= tutorial.get_upvotes.size - tutorial.get_downvotes.size%>
        </div>
        <div class="thumbs">
          <%= button_to upvote_tutorial_path(tutorial),
            class: "like btn btn-default", method: :put do %>
              <span class="glyphicon glyphicon-thumbs-up"></span>
          <% end %>
          <%= button_to downvote_tutorial_path(tutorial),
            class: "dislike btn btn-default", method: :put do %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
