<div class="news-header">
  <h3>Cursos</h3>
</div>
<div class="courses">
  <% @courses.each do |course| %>
    <div class="course">
      <div class="image">
        <%= image_tag course.image %>
      </div>
      <h3><%= course.name %></h3>
      <p><%= course.description %></p>
      <p><%= course.start_date.strftime('%v') %></p>
      <p><%= course.finish_date.strftime('%v') %></p>
      <p id="status"><%= course.status %></p>
      <div class="more">
        <%= link_to "Ver más...", course_path(course) %>
      </div>
    </div>
  <% end %>
</div>

