<div class="news-header">
  <h3>Cursos</h3>
  <%= link_to "Nuevo Curso", new_admin_course_path, class: "btn btn-primary" %>
</div>
<div class="courses">
  <% @courses.each do |course| %>
    <div class="course">
      <div class="image">
        <%= image_tag course.image %>
      </div>
      <h3><%= course.name %></h3>
      <p><%= course.description %></p>
      <div class="more">
        <%= link_to "Ver más...", course_path(course) %>
      </div>
    </div>
  <% end %>
</div>
