<% content_for :title, "IDS Comite de Alumnos | Curso: #{@course.name}" %>

<div class="course">
  <h3><%= @course.name %></h3>
  <div class="image">
    <%= image_tag @course.image %>
  </div>
  <div class="course-content">
    <p><%= @course.description %></p>
    <p> <b>Inicia</b>: <%= @course.start_date.strftime('%v') %></p>
    <p> <b>Termina</b> <%= @course.finish_date.strftime('%v') %></p>
    <p id="status"><%= @course.status %></p>
  </div>
</div>
