<ul>
  <li><%= link_to "Inicio", root_path %></li>
  <li><%= link_to "Cursos", courses_path %></li>
  <li><%= link_to "Torneos", "#" %></li>
  <li><%= link_to "Tutoriales", "#" %></li>
  <li><%= link_to "+Facebook", "https://www.facebook.com/IDSUTM" %></li>
</ul>

