<ul>
  <li><%= link_to "Inicio", root_path %></li>
  <li><%= link_to "Cursos", courses_path %></li>
  <li><%= link_to "Torneos", tournaments_path %></li>
  <li><%= link_to "Tutoriales", tutorials_path %></li>
  <li><%= link_to "+Facebook", "https://www.facebook.com/IDSUTM", target: '_blank' %></li>
</ul>

