 <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IDS Comite de Alumnos" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sociedad de Alumnos IDS" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <% if is_congress? %>
    <body class="<%= params[:controller] %>">
  <% else %>
    <body>
  <% end %>
    <div class="home-wrap">
      <% if !is_congress? %>
        <%= render 'layouts/main' %>
      <% else %>
        <%= render 'congreso/layout/main' %>
      <% end %>
    </div>
  </body>
</html>
