<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IDS Alumnos Las Torres" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sociedad de Alumnos IDS" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="home-wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main role="contents">
        <%= render 'layouts/messages' %>
        <%= render 'sessions/login' %>
        <%= yield %>
        <%= render 'layouts/googleadd' %>
      </main>
    </div>
  </body>
</html>
